include README.md
include LICENSE
include requirements.txt
recursive-include source *.py
recursive-include configs *.yaml
recursive-include assets *.usd *.png *.jpg
prune runs
prune videos
prune wandb
prune results
